{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missatge de registre</title>
</head>

<body>

    <div>
        <h1>
            Recuperació de contrasenya
        </h1>
    </div>

    <div >

        <div>
            <p>
                Hola, {{ user.username }} fes click al següent enllaç per <br>
                recuperar la teva contrasenya
            </p>
            <br>
            <div >
                <a href={{urlToGo}}>
                    Recuperar contrasenya
                </a>
            </div>

        </div>
    </div>

</body>

</html>