{% load static %} {% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ca">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Accions | WizardGame</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/277f72a273.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'WizardBrowserGame/styles.css' %}" />
</head>

<body class="backgroundGarnet">
  <div>
    <div class="my-12">
      <h1 class="flex justify-center items-center top-28 m-auto inset-x-0 text-6xl colorLightGrey font-bold">
        ACCIONS
      </h1>
    </div>

    {% if user.username %}

    {% if user.is_staff %}
    <div id="mySidenav" class="sidenav">
      <a style="font-size: 25px !important;" class="closebtn cursor-pointer" onclick="closeNav()"><i
          class="fa fa-arrow-left" aria-hidden="true"></i></a>
      <a href="/">Inici</a>
      <a href="/ranking/">Ranking</a>
      <a href="/actions/">Accions</a>
      <a href="/play_action/">Àrea d'encanteris</a>
      <a href="/admin/">Panel d'administració</a>
      <a href="/accounts/password_change/">Canviar contrasenya</a>
      <a href="/accounts/logout">Tancar sessió</a>

    </div>

    <span style="font-size: 30px;" class="cursor-pointer" onclick="openNav()" open>

      <i style="position: absolute; top: 5%" class=" ml-10 fa fa-bars" aria-hidden="true"></i>

    </span>

    {% else %}

    <div id="mySidenav" class="sidenav">
      <a style="font-size: 25px !important;" class="closebtn cursor-pointer" onclick="closeNav()"><i
          class="fa fa-arrow-left" aria-hidden="true"></i></a>
      <a href="/">Inici</a>
      <a href="/ranking/">Ranking</a>
      <a href="/actions/">Accions</a>
      <a href="/play_action/">Àrea d'encanteris</a>
      <a href="/accounts/password_change/">Canviar contrasenya</a>
      <a href="/accounts/logout">Tancar sessió</a>

    </div>

    <span style="font-size: 30px;" class="cursor-pointer" onclick="openNav()" open>

      <i style="position: absolute; top: 5%" class=" ml-10 fa fa-bars" aria-hidden="true"></i>

    </span>


    {% endif %}

    <div id="app2">
      <div id="divLogs" class="logs backgroundLightGrey">
          <div id="openCloseLogs" onclick="changeClass()" style="height: 48px;" class="headerLogs flex justify-around align-center">
              <p class="firstViewLog text-gray-700 font-bold">Els meus intents del joc</p>
              <i id="arrow" class="firstViewLog fa fa-angle-up text-gray-700 font-bold hover:text-xl" aria-hidden="true"></i>
          </div>
          <div id="divContainsLogs" style="display: none; width: 100% !important">
              <ul v-for="item in statistics" class="defaultUl">
                  <li class="defaultLi">Data: [[item.act_date]]</li>
                  <li class="defaultLi">Hora: [[item.act_time]]</li>
                  <li class="defaultLi">Acció: <strong><i>[[item.action__name]]</i></strong></li>
                  <li class="defaultLi">Percentatge d'exit: [[item.success_rate]] %</li>
                  <li class="defaultLi">Tirada real: [[item.actual_roll]] %</li>
                  <li class="defaultLi" v-if="item.success == true">Exit: <i class="ml-2 fa fa-check-circle-o text-green-600" aria-hidden="true"></i></li>
                  <li class="defaultLi" v-if="item.success == false">Exit: <i class="ml-2 fa fa-times-circle-o text-red-600" aria-hidden="true"></i></li>
              </ul>
          </div>
      </div>
  </div>

    {% else %}

    <div id="mySidenav" class="sidenav">
      <a style="font-size: 25px !important;" class="closebtn cursor-pointer" onclick="closeNav()"><i
              class="fa fa-arrow-left" aria-hidden="true"></i></a>
              <a href="/">Inici</a>
              <a href="/ranking/">Ranking</a>
              <a href="/actions/">Accions</a>
              <a href="/accounts/login/">Iniciar sessió</a>
              <a href="/accounts/register/">Registre</a>
              <a href="/accounts/password_reset/">Recuperar contrasenya</a>

  </div>

  <span style="font-size: 30px;" class="cursor-pointer" onclick="openNav()" open>

      <i style="position: absolute; top: 5%" class=" ml-10 fa fa-bars" aria-hidden="true"></i>

  </span>

    {% endif %}

    <div id="app4" class="flex justify-center items-center max-w-5xl m-auto mt-8">
      <div class="backgroundLightGrey px-8 pt-8 pb-8">
        <div class="flex items-center justify-center">
          <table class="border-2 w-3/6 border-black bg-white">
            <tr>
              <th class="border-2 border-black px-20 py-4 text-center bg-gray-300 font-bold uppercase">
                Imatge
              </th>
              <th class="border-2 border-black px-20 py-4 bg-gray-300 font-bold uppercase">
                Nom
              </th>
              <th class="border-2 border-black px-20 py-4 bg-gray-300 font-bold uppercase">
                Descripció
              </th>
              <th class="border-2 border-black px-20 py-4 bg-gray-300 font-bold uppercase">
                Tipus
              </th>
              <th class="border-2 border-black px-20 py-4 bg-gray-300 font-bold uppercase">
                Cost
              </th>
              <th class="border-2 border-black px-20 py-4 bg-gray-300 font-bold uppercase">
                Dany
              </th>
              <th class="border-2 border-black px-20 py-4 bg-gray-300 font-bold uppercase">
                Percentatge d'encert
              </th>
            </tr>
            <tr v-for="action in actions" v-bind:class="index % 2 === 0 ? 'bg-gray-100' : ''">
              <td class="border-2 border-black px-7 py-2 text-center font-semibold">
                <div class="w-40 h-40 imageContainer m-auto"
                    v-bind:style="{ backgroundImage: 'url(/static/' + [[action.action_img]] + ') !important' }">
                    &nbsp;
                </div>
              </td>
              <td class="border-2 border-black px-7 text-center text-xl font-bold italic">
                [[action.name]]
              </td>
              <td class="border-2 border-black px-7 text-center">
                [[action.description]]
              </td>
              <td v-if="action.action_type == 1" class="border-2 border-black px-7 text-center text-red text-lg">
                <span class="type typeAttack" >Atac</span>
              </td>
              <td v-if="action.action_type == 2" class="border-2 border-black px-7 text-center text-lg">
                <span class="type typeDeffense" >Defensa</span>
              </td>
              <td v-if="action.action_type == 3" class="border-2 border-black px-7 text-center text-lg">
                <span class="type typeNeutral" >Neutral</span>
              </td>
              <td class="border-2 border-black px-7 text-center text-lg">
                [[action.cost]] <i class="fa fa-tint iconMana" aria-hidden="true"></i>
              </td>
              <td class="border-2 border-black px-7 text-center text-lg">
                [[action.points]] <i class="fa fa-fire iconDamage" aria-hidden="true"></i>
              </td>
              <td class="border-2 border-black px-7 text-center text-lg">
                [[action.success_rate]] %
              </td>
            </tr>
          </table>
        </div>

      </div>
    </div>
  </div>

  {% render_bundle 'main' %}
  <script>
    function openNav() {
      document.getElementById('mySidenav').style.width = "250px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0px";

    }

    const links = document.querySelectorAll("#mySidenav a");
    links.forEach(link => {
      const href = link.getAttribute("href");

      if (window.location.pathname === href) {
        link.classList.add("activeLink");
      }
    });

    function changeClass(){
        var elem = document.getElementById("divLogs")
        var elem2 = document.getElementById("arrow")
        var elem3 = document.getElementById("divContainsLogs")
        elem.classList.toggle("allLogs")
        if(elem2.classList.contains("fa-angle-up")) elem2.classList.replace("fa-angle-up", "fa-angle-down")
        else elem2.classList.replace("fa-angle-down", "fa-angle-up")
        if(elem3.style.display == "none") elem3.style.display = ""
        else elem3.style.display = "none"
        }

  </script>

</body>

</html>