{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'WizardBrowserGame/styles.css' %}">
    <script src="https://kit.fontawesome.com/277f72a273.js" crossorigin="anonymous"></script>
    <script src="{% static 'resources/jquery.min.js' %}"></script>
    <script src="{% static 'resources/jquery.cookie.js' %}"></script>
    <title>Portada | WizardGame</title>
</head>

<body class="backgroundGarnet">
    {% if user.username %}

    <div id="animationContainer" class="animationContainer fixed w-screen h-screen z-10 top-0 hidden">
        <div id="animationDisplayer" class="relative w-screen h-screen top-0">

        </div>
    </div>



    <div class="my-12">
        <h1 class="flex justify-center items-center top-28 m-auto inset-x-0 text-6xl colorLightGrey font-bold">
            SOBRE EL MEU MAG/A
        </h1>
    </div>
    <div class="flex flex-center justify-center align-center">
        <div id="mensajes"></div>
    </div>

    {% if user.is_staff %}
    <div id="mySidenav" class="sidenav">
        <a style="font-size: 25px !important;" class="closebtn cursor-pointer" onclick="closeNav()"><i
                class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <a href="/">Inici</a>
        <a href="/ranking/">Ranking</a>
        <a href="/actions/">Accions</a>
        <a href="/play_action/">Àrea d'encanteris</a>
        <a href="/admin">Panel d'administració</a>
        <a href="/accounts/password_change/">Canviar contrasenya</a>
        <a href="/accounts/logout">Tancar sessió</a>

    </div>

    <span style="font-size: 30px;" class="cursor-pointer" onclick="openNav()" &#9776; open>
        <i style="position: absolute; top: 5%" class=" ml-10 fa fa-bars" aria-hidden="true"></i>
    </span>

    {% else %}

    <div id="mySidenav" class="sidenav">
        <a style="font-size: 25px !important;" class="closebtn cursor-pointer" onclick="closeNav()"><i
                class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <a href="/">Inici</a>
        <a href="/ranking/">Ranking</a>
        <a href="/actions/">Accions</a>
        <a href="/play_action/">Àrea d'encanteris</a>
        <a href="/accounts/password_change/">Canviar contrasenya</a>
        <a href="/accounts/logout">Tancar sessió</a>

    </div>

    <span style="font-size: 30px;" class="cursor-pointer" onclick="openNav()" &#9776; open>

        <i style="position: absolute; top: 5%" class=" ml-10 fa fa-bars" aria-hidden="true"></i>

    </span>

    {% endif %}

    <div class="flex justify-center items-center max-w-5xl m-auto mt-8 mb-4">
        <div id="app2" class="backgroundLightGrey px-8 pt-8 pb-8">

            <div v-if="loading" id="spinner"
                class="animationContainer fixed w-screen h-screen z-10 top-0 left-0 bottom-o right-0 flex items-center justify-center">
                <img id="imgSpinner" class="scale-50" src="/static/images/spinner.gif" alt="spinner image">
            </div>

            <div class="mb-6">
                <p class="p-2">Ens alegrem de veure't <b>[[user.username]]</b>!</p>
                <p class="p-2"> En aquest apartat podràs veure les estadístiques sobre el teu mag/a i tota la informació
                    sobre les últimes accions relacionades amb el teu mag/a.
                </p>
            </div>

            <div class="flex items-center justify-center">
                <table class=" border-2 w-3/6 border-black">
                    <tr>
                        <td class="border-2 border-black px-4 py-2">Nivell</td>
                        <td class="border-2 border-black px-4 py-2">[[user.level]]</td>
                    </tr>
                    <tr>
                        <td class="border-2 border-black px-4 py-2">Vida</td>
                        <td class="border-2 border-black px-4 py-2">[[user.life]]</td>
                    </tr>
                    <tr>
                        <td class="border-2 border-black px-4 py-2">Manà</td>
                        <td class="border-2 border-black px-4 py-2">[[user.mana]]</td>
                    </tr>
                    <tr>
                        <td class="border-2 border-black px-4 py-2">Experiència</td>
                        <td class="border-2 border-black px-4 py-2">[[user.exp]]</td>
                    </tr>
                    <tr>
                        <td class="border-2 border-black px-4 py-2">Posició ranking</td>
                        <td class="border-2 border-black px-4 py-2">[[userRanking.position]]</td>
                    </tr>
                </table>
            </div>

            <!-- Actions -->
            <div class="mt-4 mb-4">
                <!-- Ofenssive actions -->
                <div class="mt-4 mb-4" id="offensiveActions">
                    <h5 class="text-center text-gray-700 font-bold text-2xl">Accions Ofensives</h5>
                    <div class="flex justify-around flex-row">
                        <template v-for="action in actions">
                            <div v-if="action.action_type == 1" class="flex flex-col">
                                <button :id="'btnAction_'+action.id" class="w-40 h-40 imageContainer btnImage"
                                    @click="displayActionModal(action)"
                                    v-bind:style="{ backgroundImage: 'url(/static/'+[[action.action_img]]+') !important'}">
                                    &nbsp;
                                </button>
                                <p class="text-center"><strong><i>[[action.name]]</i></strong></p>
                                <modal-creator :action="action" :dialog-title="'Informació'" :users="allUsers"
                                    :user_transmitter="user" :ref="''+action.id"
                                    @modal-closed="displayAnimation($event)" />
                            </div>
                        </template>
                    </div>
                </div>
                <!-- Defensive actions -->
                <div class="mt-4 mb-4" id="defensiveActions">
                    <h5 class="text-center text-gray-700 font-bold text-2xl">Accions Defensives</h5>
                    <div class="flex justify-around flex-row">
                        <template v-for="action in actions">
                            <div v-if="action.action_type == 2" class="flex flex-col">
                                <button :id="'btnAction_'+action.id" class="w-40 h-40 imageContainer btnImage"
                                    v-bind:style="{ backgroundImage: 'url(/static/'+[[action.action_img]]+') !important'}"
                                    @click="displayActionModal(action)">
                                    &nbsp;
                                </button>
                                <p class="text-center"><strong><i>[[action.name]]</i></strong></p>
                                <modal-simple :action="action" :dialog-title="'Informació'" :user_transmitter="user"
                                    :ref="''+action.id" @modal-closed="displayAnimation($event)" />
                            </div>
                        </template>
                    </div>
                </div>
                <!-- Neutral actions -->
                <div class="mt-4 mb-4" id="neutralActions">
                    <h5 class="text-center text-gray-700 font-bold text-2xl">Accions Neutrals</h5>
                    <div class="flex justify-around flex-row">
                        <template v-for="action in actions">
                            <div v-if="action.action_type == 3" class="flex flex-col">
                                <button :id="'btnAction_'+action.id" class="w-40 h-40 imageContainer btnImage"
                                    v-bind:style="{ backgroundImage: 'url(/static/'+[[action.action_img]]+') !important'}"
                                    @click="displayActionModal(action)">
                                    &nbsp;
                                </button>
                                <p class="text-center"><strong><i>[[action.name]]</i></strong></p>
                                <modal-simple :action="action" :dialog-title="'Informació'" :user_transmitter="user"
                                    :ref="''+action.id" @modal-closed="displayAnimation($event)" />
                            </div>
                        </template>
                    </div>
                </div>
            </div>

            <button id="buttonCollapsable" type="button" class="collapsible mt-4 font-bold">Veure últimes
                accions</button>
            <div class="content mt-2">
                <template v-for="action in eventActions">

                    <p v-if="action.user_transmitter__username == user.username">Has executat l'acció de
                        <b><i>[[action.action__name]]</i></b> contra el jugador/a
                        <b>[[action.user_receiver__username]]</b> el dia [[action.date]]
                    </p>
                    <p v-else> Has rebut l'acció de <b><i>[[action.action__name]]</i></b> del jugador/a
                        <b>[[action.user_transmitter__username]]</b> el dia [[action.date]]
                    </p>

                </template>
            </div>
        </div>
    </div>
    {% else %}

    <div class="my-12   ">
        <h1 class="flex justify-center items-center top-28 m-auto inset-x-0 text-6xl colorLightGrey font-bold">
            WIZARD GAME
        </h1>
    </div>
    <div id="mySidenav" class="sidenav">
        <a style="font-size: 25px !important;" class="closebtn cursor-pointer" onclick="closeNav()"><i
                class="fa fa-arrow-left" aria-hidden="true"></i></a>
        <a href="/">Inici</a>
        <a href="/ranking/">Ranking</a>
        <a href="/actions/">Accions</a>
        <a href="/accounts/login/">Iniciar sessió</a>
        <a href="/accounts/register/">Registre</a>
        <a href="/accounts/password_reset/">Recuperar contrasenya</a>

    </div>

    <span style="font-size: 30px;" class="cursor-pointer" onclick="openNav()" &#9776; open>

        <i style="position: absolute; top: 5%" class=" ml-10 fa fa-bars" aria-hidden="true"></i>

    </span>
    <img src="{% static 'img/witch.gif' %}" alt="Bruixa terrorifica" class="wizardShowLeft">
    <div class="flex justify-center items-center max-w-5xl m-auto">
        <div class="backgroundLightGrey px-8 pt-8 pb-8">

            <div class="mb-6">
                <p class="p-2">El joc de mags és un joc en línia en què els jugadors controlen un mag en una sorra de
                    batalla. Els jugadors poden atacar i defensar-se d'altres mags a la sorra, i també tenen la
                    capacitat de regenerar el seu poder màgic o “manà” cada cert temps.</p>
                <p class="p-2"> L'objectiu principal del joc és vèner altres mags a la sorra de batalla per guanyar
                    punts i avançar en la classificació. Els jugadors poden millorar les seves habilitats màgiques a
                    mesura que avancen en el joc, cosa que els permet llançar encanteris més poderosos i resistir atacs
                    enemics.
                </p>
                <p class="p-2">Per poder jugar, els jugadors poden crear un compte o iniciar sessió en un compte
                    existent. Quan han iniciat sessió, poden accedir a la sorra de batalla i comença la partida. El joc
                    té un temporitzador que marca l'inici i el final de cada partida, cosa que significa que els
                    jugadors tenen un temps limitat per vèncer els seus oponents i guanyar punts d'experiència.</p>
            </div>

            <div id="app3" class="flex items-center justify-center">
                <table class=" border-2 w-3/6 border-black">
                    <tr>
                        <td class="border-2 border-black px-4 py-2">Data d'inici</td>
                        <td class="border-2 border-black px-4 py-2">[[gameOptions.game_datetime_start]]</td>
                    </tr>
                    <tr>
                        <td class="border-2 border-black px-4 py-2">Data final</td>
                        <td class="border-2 border-black px-4 py-2">[[gameOptions.game_datetime_end]]</td>
                    </tr>
                    <tr>
                        <td class="border-2 border-black px-4 py-2">Següent torn</td>
                        <td class="border-2 border-black px-4 py-2">[[gameOptions.minutes]]
                        </td>

                    </tr>
                </table>
            </div>

            <div class="flex items-center justify-around pt-10">

                <a class="backgroundStrongGarnet text-white font-bold py-2 px-4 rounded" href="{% url 'login' %}">
                    Inciar sessió
                </a>
                <a class="backgroundStrongGarnet text-white font-bold py-2 px-4 rounded" href="/accounts/register">
                    Registra't
                </a>

            </div>
        </div>
    </div>
    {% endif %}



    {% render_bundle 'main' %}
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var buttonCollapasable = document.getElementById("buttonCollapsable")
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                    buttonCollapasable.innerHTML = "Veure últimes accions"
                } else {
                    content.style.display = "block";
                    buttonCollapasable.innerHTML = "Ocultar últimes accions"
                }
            });
        }

        function openNav() {
            document.getElementById('mySidenav').style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0px";
        }

        const links = document.querySelectorAll("#mySidenav a");
        links.forEach(link => {
            const href = link.getAttribute("href");

            if (window.location.pathname === href) {
                link.classList.add("activeLink");
            }
        });
    </script>
    <script src="{% static 'actionScripts/callsToApi.js' %}"></script>


</body>

</html>