{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taula de clasificacióc | WizardGame</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'WizardBrowserGame/styles.css' %}">

</head>

<body class="backgroundGarnet">

    <div id="app">


        <div class="my-12">
            <h1 class="flex justify-center items-center top-28 m-auto inset-x-0 text-6xl colorLightGrey font-bold">
                RANKING
            </h1>
        </div>
        <div class="flex justify-center items-center max-w-5xl m-auto mt-8">
            <div class="backgroundLightGrey px-8 pt-8 pb-8">

                <div class="flex items-center justify-center">
                    <table class=" border-2 w-3/6 border-black">
                        <tr>
                            <th class="border-2 border-black px-12 py-4">Posició</th>
                            <th class="border-2 border-black px-12 py-4">Usuari</th>
                            <th class="border-2 border-black px-12 py-4">Nom jugador</th>
                            <th class="border-2 border-black px-12 py-4">Nivell</th>
                        </tr>
                        <tr v-for="item in dataPaginate">
                            <td class="border-2 border-black px-7 py-7">test</td>
                            <td class="border-2 border-black px-7 py-7">[[item.username]] </td>
                            <td class="border-2 border-black px-7 py-7">[[item.first_name]]</td>
                            <td class="border-2 border-black px-7 py-7">[[item.life]]</td>
                        </tr>
                    </table>
                </div>

                <ul class="pagination justify-content-center">
                    <li class="page-item" v-on:click="getPreviousPage()"> <a class="page-link" href="#">Previous</a>
                    </li>
                    <li v-for="page in totalPages()" v-on:click="getDataPage(page)" class="page-item"
                        v-bind:class="isActive(page)"><a class="page-link" href="#">[[page]]</a></li>
                    <li class="page-item" v-on:click="getNextPage()"><a class="page-link" href="#">Next</a></li>
                </ul>
            </div>
        </div>



























    </div>


    {% render_bundle 'main' %}
</body>

</html>