{% load static %}
<!DOCTYPE html>
<html lang="ca">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'WizardBrowserGame/styles.css' %}">
  <title>Canviar la contrasenya | WizardGame</title>
</head>

<body class="backgroundGarnet">

  {% load i18n static %}


  <h1 class="flex justify-center items-center absolute top-20 m-auto inset-x-0 text-6xl colorLightGrey font-bold">CANVIAR LA CONTRASENYA
  </h1>
  <div class="flex justify-center items-center h-screen mt-12">
    <form class="backgroundLightGrey w-full max-w-lg shadow-md rounded px-8 pt-6 pb-6 h-auto mx-auto" method="post">
      {% csrf_token %}
      <div>

        {% if form.errors.old_password or form.errors.new_password1 or form.errors.new_password2 or form.errors %}
        <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
          <p class="font-bold">{% trans "Error:" %}</p>

          {% if form.errors.old_password %}
          <ul>
            <li>{{ form.errors.old_password|join:" | " }}</li>
          </ul>
          {% endif %}

          {% if form.errors.new_password1 %}
          <ul>
            <li>{{ form.errors.new_password1|join:" |" }}</li>
          </ul>
          {% endif %}

          {% if form.errors.new_password2 %}
          <ul>
            <li>{{ form.errors.new_password2|join:" | " }}</li>
          </ul>
          {% endif %}
        </div>
        {% endif %}


        <div class="backgroundLightGrey px-8 pt-8 pb-8">
          <div class="mb-4">
            <label class="block text-gray-700 font-bold mb-2" for="{{ form.old_password.id_for_label }}">
              {{ form.old_password.label }}
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="{{ form.old_password.id_for_label }}" type="{{ form.old_password.field.widget.input_type }}"
              name="{{ form.old_password.name }}">
          </div>

          <div class="mb-6">
            <label class="block text-gray-700 font-bold mb-2" for="{{ form.new_password1.id_for_label }}">
              {{ form.new_password1.label }}
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 mb-4 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="{{ form.new_password1.id_for_label }}" type="{{ form.new_password1.field.widget.input_type }}"
              name="{{ form.new_password1.name }}">
            {% if form.new_password1.help_text %}
            <button id="buttonCollapsable" type="button" class="collapsible text-gray-700 font-bold">Veure restriccions contrasenya</button>
            <div class="content text-gray-700">
              <div class="help pt-3 pb-3 flex items-center justify-center" {% if form.new_password1.id_for_label %}
                id="{{ form.new_password1.id_for_label }}_helptext" {% endif %}>{{ form.new_password1.help_text|safe }}
              </div>
            </div>

            {% endif %}
          </div>

          <div div class="mb-6">
            <label class="block text-gray-700 font-bold mb-2" for="{{ form.new_password2.id_for_label }}">
              {{ form.new_password2.label }}
            </label>
            <input
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="{{ form.new_password2.id_for_label }}" type="{{ form.new_password2.field.widget.input_type }}"
              name="{{ form.new_password2.name }}">
            {% if form.new_password2.help_text %}
            <div class="help" {% if form.new_password2.id_for_label %}
              id="{{ form.new_password2.id_for_label }}_helptext" {% endif %}>{{ form.new_password2.help_text|safe }}
            </div>
            {% endif %}
          </div>

          <div class="flex items-center justify-center">
            <button
              class="button backgroundStrongGarnet text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              type="submit">Canviar contrasenya</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var buttonCollapasable = document.getElementById("buttonCollapsable")
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
          buttonCollapasable.innerHTML = "Veure restriccions contrasenya"
        } else {
          content.style.display = "block";
          buttonCollapasable.innerHTML = "Ocultar restriccions contrasenya"
        }
      });
    }
  </script>
</body>

</html>