{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'WizardBrowserGame/styles.css' %}">
    <title>Password Change | WizardGame</title>
</head>
<body class="backgroundGarnet h-screen">

    {% load i18n static %}


<h1 class="flex justify-center items-center absolute top-28 m-auto inset-x-0 text-6xl colorLightGrey font-bold">CHANGE PASSWORD
</h1>
<div id="flex justify-center items-center h-screen">
  <form class="backgroundLightGrey w-full max-w-lg shadow-md rounded px-8 pt-6 pb-6 h-auto" method="post">
    {% csrf_token %}
    <div>
      {% if form.errors %}
      <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
        <p class="font-bold">{% trans "Error:" %}</p>
        <ul>
          {% for error in form.errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="backgroundLightGrey px-8 pt-8 pb-8">
        <div class="mb-4">
          <label class="block text-gray-700 font-bold mb-2" for="{{ form.old_password.id_for_label }}">
            {{ form.old_password.label }}
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="{{ form.old_password.id_for_label }}" type="{{ form.old_password.field.widget.input_type }}"
            name="{{ form.old_password.name }}">
        </div>

        <div class="mb-6">
          <label class="block text-gray-700 font-bold mb-2" for="{{ form.new_password1.id_for_label }}">
            {{ form.new_password1.label }}
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="{{ form.new_password1.id_for_label }}" type="{{ form.new_password1.field.widget.input_type }}"
            name="{{ form.new_password1.name }}">
          {% if form.new_password1.help_text %}
          <div class="help"{% if form.new_password1.id_for_label %} id="{{ form.new_password1.id_for_label }}_helptext"{% endif %}>{{ form.new_password1.help_text|safe }}</div>
          {% endif %}
        </div>

        <div class="mb-6">
          <label class="block text-gray-700 font-bold mb-2" for="{{ form.new_password2.id_for_label }}">
            {{ form.new_password2.label }}
          </label>
          <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="{{ form.new_password2.id_for_label }}" type="{{ form.new_password2.field.widget.input_type }}"
            name="{{ form.new_password2.name }}">
        </div>

        <div class="flex items-center justify-between">
          <button class="backgroundStrongGarnet text-white font-bold py-2 px-4 rounded" type="submit">
            {% trans "Change my password" %}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

    
</body>
</html>


