{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'WizardBrowserGame/styles.css' %}">
    <title>Password Change Done | WizardGame</title>

</head>

<body class="backgroundGarnet">

    <h1 class="flex justify-center items-center absolute top-28 m-auto inset-x-0 text-6xl colorLightGrey font-bold">CONTRASENYA CANVIADA
    </h1>
    <div class="flex justify-center items-center h-screen">
            <div class="backgroundLightGrey px-8 pt-8 pb-8">
                
                <div class="mb-6">
                    <p class="p-8">Felicitats, la teva contrasenya s'ha canviat correctament! Ara pots accedir al teu compte amb la nova contrasenya. Recorda mantenir la teva contrasenya segura i no compartir-la amb ningú.</p>
                </div>
                
                <div class="flex items-center justify-center">
                    
                    <a class="backgroundStrongGarnet text-white font-bold py-2 px-4 rounded"
                        href="{% url 'login' %}">
                        Iniciar sessió
                    </a>
                </div>
            </div>
        </form>
    </div>

</body>

</html>