{% load static %}
<!DOCTYPE html>
<html lang="ca">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'WizardBrowserGame/styles.css' %}">
    <link rel="icon" href="/static/images/favicon.ico">
    <title>Restablir contrasenya | WizardGame</title>
</head>

<body class="backgroundGarnet">
  {% load i18n static %}

  <div class="my-12">
    <h1 class="flex justify-center items-center top-28 m-auto inset-x-0 text-6xl colorLightGrey font-bold">
      RESTABLIR CONTRASENYA
    </h1>
  </div>

  <div class="flex justify-center items-center mt-8">

    <form class="backgroundLightGrey w-full max-w-lg shadow-md rounded px-8 pt-6 pb-6 h-auto" method="POST">
      {% csrf_token %}

      {% if error_msg %}
      <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-4" role="alert">
        <p class="font-bold">Error:</p>
        <ul class="ml-5 list-disc">
          {% for i in error_msg %}
            <li>{{ i }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="mb-6 mt-3">
        <label class="block text-gray-700 font-bold mb-2" for="password">
          Contrasenya
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="password" type="password" name="password" required>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 font-bold mb-2" for="confirm_password">
          Confirma la teva contrasenya
        </label>
        <input
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          id="confirm_password" type="password" name="confirm_password" required>
      </div>

      <button id="buttonCollapsable" type="button" class="collapsible text-gray-700 font-bold">Ocultar restriccions
        contrasenya</button>
      <div class="content text-gray-700" style="display: block;">
        <ul class="ml-3 list-disc">
          <li>La teva contrasenya no pot ser tan similar a alguna de la teva informació personal</li>
          <li>La contrasenya ha de tenir un mínim de 8 caràcters.</li>
          <li>La teva contrasenya no pot ser la típica contrasenya comuna.</li>
          <li>La teva contrasenya no potser únicament numèrica.</li>
        </ul>
      </div>
      <br>
      <br>

      <!-- Button section -->
      <div class="flex items-center justify-center">
        <button class="backgroundStrongGarnet text-white font-bold py-2 px-4 rounded" type="submit">
          Confirmar
        </button>
      </div>
  </div>

  </form>

  </div>
  <script>
    var coll = document.getElementsByClassName("collapsible");
    var buttonCollapasable = document.getElementById("buttonCollapsable")
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
          buttonCollapasable.innerHTML = "Veure restriccions contrasenya"
        } else {
          content.style.display = "block";
          buttonCollapasable.innerHTML = "Ocultar restriccions contrasenya"
        }
      });
    }
  </script>
</body>

</html>